* {  margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39A6B2;
}
/* Nav */
header {
    background-color: #39A6B2;
    padding: 20px 35px;
}

header h1 {
    color: #FCE138;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    display: inline;
}

header a {
    color: #FCE138;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-family: 22px;
}
/* Nav End */

footer {
    background-color: #FCE138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024E76;
}
/* Footer End */

/*    style Starts */

.hero {   
    background-image:url(../images/hero-bg.jpg);
    padding: 60px;
    height: 600px;
    background-position: center;
    background-size: cover;
}

.hero-form{
    background-color: #FCE138;
    padding: 20px;
    width: 500px;
    color: #024E76;
    border-style: solid;
    border-width: 3px;
    border-color: #024E76;
    border: solid 3px #024E76 ; 
    /* sytle width color = sold 3px #024E76 */
}
/* Hero style End */