* {
    margin: 0;
    padding: 0;
}
header h1 {
    color: blue;
}
a {
    color: rgb(0, 255, 76):

}
body {
    /* This is body design */
    font-family: Arial, Helvetica, sans-serif;
    color: #483d63;
}
header {
    background-color: rgb(67, 67, 75);
    padding: 20px 35px;
    border: 5px solid orange;
    margin: 10px;
}
footer {
    background-color: blueviolet;
    padding: 20px;
}
header h1 a {
    color: #fce138;
    font-weight: 100;
    font-size: ;
    margin: 0;
}
header a {
    color: blue;
     {

    }
}

header nav ul li a{
margin: 30px;
}
header nav {
    float: right;

}
footer{
    background-color: fac138;
    width: 100;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #;
}